.pagination {
    display: flex;
    justify-content: center;
    list-style: none;
  }
  
  .pagination li {
    margin: 0 5px;
  }
  
  .pagination li a {
    display: block;
    padding: 5px 10px;
    color: #333;
    border: 1px solid #ccc;
    text-decoration: none;
  }
  
  .pagination li.active a {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
  }
  
  .pagination li.disabled a {
    pointer-events: none;
    background-color: #eee;
    color: #aaa;
    border-color: #ccc;
  }
  
  .pagination li.disabled a:hover {
    background-color: #eee;
    color: #aaa;
    border-color: #ccc;
  }
  
  .pagination li:first-child a::before,
  .pagination li:last-child a::after {
    content: '';
  }
  
  .pagination li:first-child a,
  .pagination li:last-child a {
    display: flex;
    align-items: center;
  }
  
  
  .btn btn-danger btn btn-sm {
    margin-left: 40;
  }